@charset "utf-8";

.main-contents {
  width: 100%;
  height: atuo;
  background-color: #fff;
  margin: 100px 0px;
}
.main__news--item {
  width: 80%;
  border: 1px #000 solid;
  padding: 15px 15px;
  margin: 0px auto;
  margin-bottom: 25px;
}
.main__news--item > a {
  color: #000;
}

.main__news--item > a > span {
  font-weight: bold;
  /* display: inline-block;
  margin-left: 3px; */
}
.main__news--item:hover {
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .main__news--item {
    height: 15x;
    font-size: 14px;
  }
}
