/* 通常時 */
body {
  width: 100%;
  margin: 0 auto;
  color: #000000;
}

.main {
  width: 100%;
}

/* header css */
.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0%;
  left: 0%;
  background-color: #fff;
}
.header--title {
  width: 70px;
  padding: 20px 40px;
  cursor: pointer;
}
.header img {
  width: 100%;
}
.header-nav {
  padding: 20px 10px;
}
.header-nav__ul {
  display: flex;
}
.header-nav__list {
  cursor: pointer;
}
.header-nav__list {
  margin-right: 30px;
}

.header-nav__list > a {
  color: inherit;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
}
.draw {
  color: #0000cd;
  font-weight: lighter;
}

.header--drawnav {
  display: none;
}

a {
  text-decoration: none;
}
.nav--draw {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0%;
  left: -100%;
  background: #eee;
  transition: 0.7s;
  text-align: center;
}
.nav--draw ul {
  padding-top: 80px;
}
.nav--draw ul li {
  list-style-type: none;
  margin-top: 50px;
}
.in {
  transform: translateX(100%);
}

/* main css */

.main {
  width: 100%;
}
.main--title {
  margin-top: 60px;
  height: 250px;
  background: url(../img/mv.png) center / cover;
  align-items: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  text-align: center;
}

.main--tile--a {
  display: inline-block;
  text-align: center;
  padding: 10px auto;
  margin: 0 auto;
}
.main--tile--a > a {
  color: white;
  font-size: 40px;
  font-weight: bold;
}

.main--inquiry {
  background-color: #f5f5f5;
  width: 100%;
  height: auto;
  text-align: center;
  padding: 80px 0px;
}

.wrapper {
  width: 85%;
  margin: 0 auto;
}

.main--inquiry__title {
  font-size: 25px;
  font-weight: bold;
  line-height: 50px;
}
.main--inquiry__text {
  line-height: 50px;
}

.main--inquiry__button {
  display: inline-block;
  background-color: #dc143c;
  width: 230px;
  height: 30px;
  padding: 5px 10px;
  margin-top: 15px;
  font-weight: bold;
  cursor: pointer;
}

.main--inquiry__button > a {
  color: #eee;
  font-size: 15px;
}
.main--inquiry__button:hover,
.fotter-nav__list:hover,
.header-nav__list:hover {
  opacity: 0.7;
}

/* fotter css */
.fotter {
  background-color: #000000;
  color: #fff;
  height: auto;
  font-size: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
}

.fotter__title {
  display: inline-block;
  margin: 10px 10%;
}

.fotter--nav {
  display: inline-block;
  margin: 10px 30px;
}
.fotter-nav__ul {
  display: flex;
  margin: 0 40px;
}
.fotter-nav__list {
  padding: 2px 20px;
}
.fotter-nav__list > a {
  color: #fff;
}
.fotter-nav__list:not(:last-child) {
  border-right: #fff solid 1px;
}

@media screen and (max-width: 785px) {
  .header-nav {
    display: none;
  }

  .hearder--drawnav {
    position: absolute;
    height: 100vh;
    width: 100%;
    left: 10%;
    color: #0000cd;
    background: #eee;
    transition: 0.7s;
    text-align: center;
    flex-direction: column;
  }

  .menu {
    display: inline-block;
    width: 36px;
    height: 32px;
    cursor: pointer;
    position: fixed;
    left: 90%;
    top: 20px;
  }

  .menu__line--top,
  .menu__line--middle,
  .menu__line--bottom {
    display: inline-block;
    width: 100%;
    height: 4px;
    background-color: #000;
    position: absolute;
    transition: 0.5s;
  }

  .menu__line--top {
    top: 0%;
  }

  .menu__line--middle {
    top: 14px;
  }

  .menu__line--bottom {
    bottom: 0%;
  }

  .menu.open span:nth-of-type(1) {
    top: 14px;
    transform: rotate(45deg);
  }
  .menu.open span:nth-of-type(2) {
    opacity: 0;
  }
  .menu.open span:nth-of-type(3) {
    top: 14px;
    transform: rotate(-45deg);
  }

  /* fotter css */

  .fotter {
    font-size: 10px;
    background-color: #000000;
    color: #fff;
    height: 330px;
    width: 100%;
    text-align: center;
    line-height: 30px;
    flex-direction: column;
  }

  .fotter__title {
    display: inline-block;
    margin: 10px 5px;
  }

  .fotter-nav {
    display: inline-block;
    margin: 10px 5px;
  }
  .fotter-nav__ul {
    flex-direction: column;
  }
  .fotter-nav__list {
    padding: 5px 20px;
  }
  .fotter-nav__list > a {
    color: #fff;
  }
  .fotter-nav__list:not(:last-child) {
    border-right: #000 solid 1px;
  }
}
